.sidebar-container {
	height: 100%;
}

.sidebar {
	background-color: #1f1f2b;
}

.sidebar-content {
	background-color: #181821;
}

.navbar {
	height: 70px;
	background-color: #1f1f2b;
	padding: 0px;
}

.navbar-content {
	background-color: #181821;
	height: calc(100% - 70px);
}
