body {
    /*
    background-color: #101418;
    background-image: radial-gradient(circle,#23282e 0,rgba(35,40,46,.5) 15%,#101418 95%);
    background-repeat: no-repeat;
    background-size: cover;
    */

    /*color: #efefef;*/
    color: rgb(230, 230, 230);
    overflow-y: scroll;
}

#app.gardien-background {
    /*
    background-color: #2e3236;
    background-image: radial-gradient(circle, #4e505298 0, rgba(35, 40, 46, .5) 15%, #101418 95%), url(/noise.png);
    background-attachment: fixed;
    */

    /* Darker background, see #63 */
    background-color: #101418;
    background-image: radial-gradient(circle, #23282e 0%, rgba(35, 40, 46, 0.5) 25%, #101418 95%), url("/noise.png");


    /*
    // backup before #
    background-color: #2e3236;
    background-image: radial-gradient(circle, #4e505298 0, rgba(35, 40, 46, .5) 15%, #101418 95%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
}

* :not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
}

.hide {
    display: none !important;
}

:disabled {
    cursor: not-allowed !important;
}

.notification-list-item--alert .notification-list-item__tag[data-v-0730d53e] {
    background-color: var(--bs-red) !important;
}

.notification-list-item--info .notification-list-item__icon[data-v-0730d53e] {
    background-color: var(--bs-blue) !important;
}

.notification-list-item--success .notification-list-item__tag[data-v-0730d53e] {
    background-color: var(--bs-green) !important;
}