.describtion {
	margin: 8px;
	margin-top: 24px;
	font-size: 12px;
}

.entry {
	cursor: pointer;
}

.entry:hover {
	color: #83d8ae;
}

.entry-text {
	margin: 8px;
	font-size: 16px;
}

.entry-icon {
	margin: 8px;
	font-size: 20px;
}